rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir lectura y escritura de entrenamientos y marcas del usuario
    match /users/{userId}/{document=**} {
      allow read, write: if true;
    }
  }
}
